<html>
    <head>
        <h1>
            this my page
        </h1>
        <h2>
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
        </h2>
        <h3>
            <!-- Navbar Bootstrap -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">KasraDjango</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/student/">uni</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/todo/">works</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/account/user-register/">come on </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
        </h3>
    </head>
    <body>
        <p>
            {{message}}
        </p>
         <form action ={% url "student:course_add" %} method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="submit" />
    </form>
    </body>
</html>